{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        // ["@babel/plugin-proposal-decorators", { "legacy": true }], // TODO: drop
        ["@babel/plugin-proposal-class-properties", { "loose": false }] // TODO: false
    ]
}
