.tscache
.settings
node_modules
npm-debug.log
coverage
notes.md
test/babel-tests.js
test/typescript/typescript-tests.js
dist/
**/.idea/*
!/.idea/icon.png
.wp-build*/
*.iml
*.ipr
*.iws
yarn-error.log
build/
