.tscache
.settings
node_modules
npm-debug.log
coverage
test/babel-tests.js
test/typescript/typescript-tests.js
dist/
**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
.wp-build*/
*.iml
*.ipr
*.iws
yarn-error.log
build/
