.git/
.settings/
.tscache/
.build
coverage/
example/
node_modules/
test/

.travis.yml
Gruntfile.js
npm-debug.log
publish.js
todo.md
notes.md
tsconfig.json

*.js.map

/dist/test
/test/typescript-test.js*
/lib
