language: node_js
install:
    - yarn install --frozen-lockfile
script:
    - CI=true yarn test:travis
    - cat ./coverage/lcov.info|./node_modules/coveralls/bin/coveralls.js
node_js:
    - 8
addons:
    apt:
        packages:
            - xvfb
